<%- include("./includes/head") %>
    <%- include("./includes/header")%>
        <main>
            <div>
                <ul class="flex container h-start">
                    <% for(item of data){ %>
                        <li>
                            <%= item %>
                        </li>
                        <%}%>
                </ul>
            </div>
        </main>
        <%- include("./includes/footer") %>