<%- include("./includes/head")%>
    <%- include("./includes/header")%>
        <div class="container flex">
            <form class="s-10 m-6 l-6" action="/form" method="POST">
                <label>
                    name
                    <input type="text">
                </label>
                <label>
                    age
                    <input type="number">
                </label>
                <button type="submit">send</button>
            </form>
        </div>
        <%- include ("./includes/footer")%>