.use-ref {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.use-ref .input-text {
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--secondary);
    word-wrap: break-word;
}