ol, ul {
    list-style: none;
    margin-bottom: 0;
}

body {
    background-color: rgb(1, 82, 101);
}

textarea {
    resize: vertical;
}

.row.row-nowrap {
    flex-flow: row nowrap;
    justify-content: space-between;
}

/*   Calendar   */

/*   Month   */

.month {
    background-color: rgb(0, 180, 193);
    color: #FFF;
    padding-top: 1.5rem;
}

.month .prev, .month .next {
    font-size: 2rem;
    color: #FFF;
}

.month .month-name {
    font-size: 4rem;
    font-weight: bold;
}

.month .month-year {
    font-size: 2rem;
}

/*   Weekdays   */

.weekdays {
    background-color: #eee;
    font-weight: bold;
    text-align: center;
    user-select: none;
}

.weekdays ul li {
    margin-top: .2rem;
}

/*   Days   */

.days {
    background-color: #fff;
}

.days ul div {
    flex-wrap: nowrap;
}

.day {
    text-align: center;
    font-size: 2rem;
    transition: .2s;
    cursor: pointer;
    user-select: none;
}

.day:hover {
    font-weight: bold;
    color: rgba(0, 0, 0, .6);
    transition: .2s;
}

.day.active {
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 2.8rem;
    transition: .2s;
}

.day.event {
    color: rgb(179, 48, 0);
    transition: .2s;
    font-weight: bold;
}

.day.now {
    color: rgb(7, 77, 255);
    transition: .2s;
    font-weight: bold;
}

/*   Todo   */

.todo {
    margin-top: .6rem;
    background-color: #DDD;
    visibility: hidden;
    display: none;
}

/*   Todo-day   */

.todo-day {
    font-size: 2.2rem;
    font-weight: bold;
    padding: 1rem 0;
    transition: .2s;
}

.todo-add {
    margin-left: .1rem;
    font-size: 3rem;
    color: black;
    cursor: pointer;
}

/*   Todo-form   */

.todo-form {
    margin-top: .6rem;
    padding: 1rem;
    padding-bottom: 0;
    background-color: #fff;
    visibility: hidden;
    display: none;
    transition: linear .4s;
}

.todo-form form {
    flex-direction: column;
}

.my-todos {
    background-color: #fff;
    padding: 1.5rem 10%;
    margin-top: .6rem;
    display: none;
}

/*   Media Query   */

@media(min-width:40rem) {
    .month .month-name {
        font-size: 5.5rem;
    }
    .month .month-year {
        font-size: 2.5rem;
    }
    .weekdays {
        font-size: 2.0rem;
        padding: .5rem 15%;
    }
    .days {
        padding: 1rem 15%;
    }
    .day {
        font-size: 2.4rem;
    }
    .day.active {
        font-size: 3.0rem;
    }
    .todo-day {
        padding: 1rem 30%;
    }
    .todo-form {
        padding: 1.5rem 15%;
        padding-bottom: 0;
    }
}