.flat-input {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0004;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.flat-input .__label{
  background-color: #FFF;
  border-radius: 12px;
  padding: 1rem 1rem;
  width: 90%;
  max-width: 35rem;
}

.flat-input .__close-btn{
  display: block;
  font-size: 2rem;
  color: #333;
  line-height: .5rem;
  text-align: right;
}

.flat-input .__title{
  display: block;
  font-size: 1.4rem;
  margin-bottom: .5rem;
}

.flat-input .__input {
  background-color: transparent;
  border-bottom: 3px solid #333;
  font-size: 1.5rem;
  width: 100%;
}