/*      set     */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
}

body {
    background-image: linear-gradient(to right, rgb(0, 95, 150), rgb(0, 152, 172));
    color: #FFF;
    font-family: 'roboto', sans-serif;
    display: flex;
    flex-flow: row nowrap;
}

.container {
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    padding: 4px;
    width: 100%;
}

.container.wrap {
    flex-wrap: wrap;
}

input, button, textarea {
    margin: 10px;
    padding: 8px 2px;
    border: 1px solid rgba(0, 0, 0, .1);
    background-color: #FFF;
    border-radius: 6px;
    box-shadow: 0 0 1px 2px rgba(0, 0, 0, .2);
    font-size: 0.8rem;
}

input:hover, input:focus, button:hover, textarea:hover, textarea:focus {
    border: 1px solid rgb(153, 0, 255);
    color: rgb(97, 0, 161);
}

textarea {
    resize: none;
}

button {
    min-width: 80px;
    min-height: 35px;
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: bold;
}

ol,ul{
    list-style-type: none;
}

/*       HEADER        */

.header {
    min-width: 300px;
}

.form-note {
    width: auto;
    align-self: center;
    flex-direction: column; 
}

.btn-add {
    align-self: center;
}

.ipt-size input {
    width: 60px;
    height: 30px;
}

/*      ALING PANEL      */

.align-panel {
    flex-direction: column;
    max-width: 230px;
}

/*      NOTES      */

.notes {
    max-width: 800px;
    max-height: 600px;
    flex-direction: row;
    border: 1px solid rgba(0, 0, 0, .8);
    box-shadow: 1px 1px 1px 3px rgba(0, 0, 0, .1);
    border-radius: 8px;
    
}

.note {
    padding: 10px;
    margin: 10px;
    width: 200px;
    height: 150px;
    border: 1px solid rgba(0, 0, 0, .1);
    background-color: rgb(75, 75, 75);
}

/*      Media Querie     */

/*      Geral      */

/*      Geral      */

/*      Geral      */

/*      Geral      */