:root {
    /* blue-800 */
    --primary: #1565C0;
    /* blue-400 */
    --primary-variant: #42A5F5;
    /* red-700 */
    --secondary: #D32F2F;
    /* red-A700 */
    --secondary-variant: #D50000;
    --box-shadow: 0 0 3px 1px #292929;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFF;
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
    user-select: none;
    cursor: pointer;
}

.app {
    display: flex;
}

.aside-nav {
    background-color: var(--primary);
    color: #FFF;
    box-shadow: var(--box-shadow)
}