<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.hello" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Helloworld</name>
    <description>Sample Apache Cordova App</description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Apache Cordova Team
    </author>

    <content src="./app/index.html" />
    <icon src="./www/resources/icon.png" />

    <!-- Android Resources -->
    <platform name="android">
        <preference name="AndroidWindowSplashScreenAnimatedIcon" value="./www/resources/icon.png" />
        <preference name="AndroidWindowSplashScreenBackground" value="#ffffff" />
        <preference name="AndroidWindowSplashScreenIconBackgroundColor" value="#ffffff" />
    </platform>
    
    <!-- Security Related Settings -->
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />

    <!-- Platform Configs -->
    <platform name="android">
        <hook type="before_build" src="scripts/beforeBuild.js" />
        <hook type="before_run" src="scripts/beforeBuild.js" />
    </platform>
    <platform name="electron">
        <hook type="before_build" src="scripts/beforeBuild.js" />
        <hook type="before_run" src="scripts/beforeBuild.js" />
    </platform>
</widget>
