.aside-nav {
    height: 100vh;
    width: 150px;
    position: fixed;
    padding-top: 2rem;
    background-color: var(--primary);
    color: var(--text);
    box-shadow: var(--shadow)
}

.aside-nav>.nav-title {
    font-size: 1.3rem;
    padding-left: .5rem;
    font-weight: bold;
    color: var(--onSurface);
}

.aside-nav>ul>li {
    letter-spacing: .11rem;
    padding: 1rem .5rem;
    border-bottom: 1px solid #999;
}

.aside-nav>ul>li>a:not(.active) {
    color: #BBB;
}

.aside-nav>ul>li>a.active {
    color: #FFF;
}

.aside-nav>.nav-arrow {
    position: absolute;
    right: 2px;
    bottom: 50%;
    font-size: 1.4rem;
    color: var(--onSurface);
}

@media(max-width:767.9px) {
    body {
        margin-left: 15px;
    }
    .aside-nav>ul>li {
        margin-right: 15px;
    }
    .aside-nav {
        left: -135px;
        transition: transform .4s;
    }
    .aside-nav:hover {
        transform: translateX(135px);
    }
}

@media(min-width:768px) {
    .page {
        margin-left: 150px;
    }
    .aside-nav>.nav-arrow {
        visibility: hidden
    }
    .aside-nav>ul>li:hover {
        background-color: #191919;
    }
}