.home.page > .flex
    display: flex
    flex-direction: column
    align-items: center
    height: 100vh
    padding: 1rem
    & header
        max-width: 340px
        text-align: center
        & h2
            font-size: 1.5rem
            font-weight: normal
            margin: 0 0 2rem
        & img
            max-width: 300px
    & main
        font-size: .9rem
        display: flex
        flex-direction: column
        & .login-footer
            padding-top: 1.5rem

.home.page > footer
    background-color: #FFF
    width: 100%
    margin: 0
    padding: 1rem 0
    font-size: .8rem
    color: #555

.home.page.login-focus
    & header
        width: 300px
        height: 100px
@media(min-width: 768px)
    .home.page > .flex
        flex-direction: row
        justify-content: center
        align-items: center
        height: 100vh
        & header
            text-align: left
            justify-content: flex-start
            padding-bottom: 3rem
            margin-right: 3rem
            & h2
                font-size: 1.5rem
                padding-left: 2rem

@media(min-width: 1024px)
    .home.page > .flex
        & header
            max-width: 545px
            & h2
                font-size: 1.8rem
    .home.page footer
        padding-right: 8%
        padding-left: 8%