<%- include("./includes/head") %>
    <main>
        <div class="cover">
            <i class="material-icons">summarize</i>
            <h1>Minha Agenda</h1>
            <a href="/login">Login</a>
        </div>
    </main>
<%- include("./includes/footer") %>