.row {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: size(2);

  &.left {
    justify-content: flex-start;
  }
  &.right {
    justify-content: flex-end;
  }
  &.top {
    align-items: flex-start;
  }
  &.bottom {
    align-items: flex-end;
  }
  &.wrap {
    flex-wrap: wrap;
  }

  @media (max-width: $tablet) {
    &.responsive {
      flex-direction: column;
      &.left {
        align-items: flex-start;
      }
      &.right {
        align-items: flex-end;
      }
      &.top {
        justify-content: flex-start;
      }
      &.bottom {
        justify-content: flex-end;
      }
    }
  }
}

.column {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  &.left {
    align-items: flex-start;
  }
  &.right {
    align-items: flex-end;
  }
  &.top {
    justify-content: flex-start;
  }
  &.bottom {
    justify-content: flex-end;
  }
}
