
@import '../../css/materialcolors.full.min.css';

* {
    margin    : 0;
    padding   : 0;
    box-sizing: border-box;
    outline   : none;
}

html {
    font-size: 80%;
}

body {
    font-family     : sans-serif;
    background-color: #fff;
}
.container {
    overflow: hidden;
    padding: 1rem;
}

/* box container */
.box-container {
    padding      : 1.3rem;
    box-shadow   : 0 0 10px 2px var(--shadow);
    border-radius: 5px;
}

.box-header {
    margin-bottom: 1.5rem;
}

.box-container{
    font-size: 1.2rem;
}

.box-container:nth-child(1) {
    background-color: var(--purple-900);
    color           : #FFF;
}

.box-container:nth-child(2) {
    background-color: var(--light-blue-700);
    color           : #FFF;
}

.box-container:nth-child(3) {
    background-color: var(--green-700);
    color           : #FFF;
}

.box-container:nth-child(4) {
    background-color: var(--red-900);
    color           : #FFF;
}

.box-container:nth-child(5) {
    background-color: var(--teal-600);
    color           : #FFF;
}

.box-container:nth-child(6) {
    background-color: var(--blue-gray-900);
    color           : #FFF;
}

.box-container:nth-child(7) {
    background-color: var(--pink-900);
    color           : #FFF;
}

[class*="col-"]{float: left;margin: 1.5% .5%;}
/* small breakpoint*/
@media(max-width:767.9px){
.col-s1{width: 7.33%}
.col-s2{width: 15.66%}
.col-s3{width: 24%}
.col-s4{width: 32.33%}
.col-s5{width: 40.66%;}
.col-s6{width: 49%}
.col-s7{width: 57.33%}
.col-s8{width: 65.66%}
.col-s9{width: 74%}
.col-s10{width: 83.33%}
.col-s11{width: 90.66%}
.col-s12{width: 99%}
}
    /* medium breakpoint */
@media(min-width:768px){
.col-m1{width: 7.33%}
.col-m2{width: 15.66%}
.col-m3{width: 24%}
.col-m4{width: 32.33%}
.col-m5{width: 40.66%}
.col-m6{width: 49%}
.col-m7{width: 57.33%}
.col-m8{width: 65.66%}
.col-m9{width: 74%}
.col-m10{width: 83.33%}
.col-m11{width: 90.66%}
.col-m12{width: 99%}
}
/* large breakpoint */
@media(min-width:1024px){
.col-l1{width: 7.33%}
.col-l2{width: 15.66%}
.col-l3{width: 24%}
.col-l4{width: 32.33%}
.col-l5{width: 40.66%}
.col-l6{width: 49%}
.col-l7{width: 57.33%}
.col-l8{width: 65.33%}
.col-l9{width: 74%}
.col-l10{width: 82.33%}
.col-l11{width: 90.66%}
.col-l12{width: 99%}
}