*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size:16px;
}

body{
  background-color: #FCFCFC;
  font-family: sans-serif;
  line-height: 1.8rem;
}

.card{
  margin: .5rem;
  background-color: #FFF;
  border-radius: 6px;
  border: none;
  overflow:hidden;
  box-shadow: 0 1px 5px #BBB;
  transition: .4s;
}

.card:hover{
  box-shadow: 0 2px 10px #AAA
}

.card .title{
  background-color: #BDF;
  padding: .4rem;
  text-align: center;
}

.card .body{
  padding: .6rem
}
