.row {
  display: flex;
  align-items: center;
  gap: size(2);

  &.gap-1 {
    gap: size(1);
  }

  &.gap-4 {
    gap: size(4);
  }

  &.gap-6 {
    gap: size(6);
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: size(6);
  width: 100%;
  max-width: size(120);
  margin: size(10) auto;
  padding: size(12);
  border-radius: $radiusLarge;
  box-shadow: $shadowMedium;
  & > * {
    animation: fadeUp 0.3s ease-out;
  }
}
