@import "./colors.scss";

/* Colors */
$main: color($green, 400);
$mainBg: color($green, 600);
$mainText: color($grey, 200);
$mainBorder: color($grey, 300);
$bg1: color($grey, 50);
$bg2: color($grey, 100);
$bg3: color($grey, 200);
$bg4: color($grey, 300);
$text1: color($grey, 800);
$text2: color($grey, 700);
$text3: color($grey, 600);
$text4: color($grey, 500);
$yellow: color($yellow, 500);
$red: color($red, 500);
$blue: color($blue, 500);
$green: color($green, 500);
$white: color($grey, 50);
$black: color($grey, 800);

/* Font size */
$fontH1: 1.4rem;
$fontH2: 1.35rem;
$fontH3: 1.3rem;
$fontH4: 1.25rem;
$fontH5: 1.2rem;
$fontH6: 1.15rem;
$fontLarge: 1.1rem;
$fontMedium: 1rem;
$fontSmall: 0.9rem;
$fontVerySmall: 0.85rem;
$fontLabel: 0.9rem;

/* Radius */
$radiusLarge: 0.8rem;
$radiusMedium: 0.6rem;
$radiusSmall: 0.4rem;
$radiusVerySmall: 0.2rem;

/* Shadow */
$shadowLarge: 1px 1px 4px 0 #000a;
$shadowMedium: 1px 1px 4px 0 #0007;
$shadowSmall: 1px 1px 4px 0 #0004;

/* Border */
$borderLarge: solid 2px color($grey, 500);
$borderMedium: solid 1px color($grey, 500);
$borderSmall: solid 1px color($grey, 300);

/* Scale */
@function size($size) {
  @return #{($size * 0.2)}rem;
}
