<header class="flex al-baseline h-btw">
    <div class="flex al-baseline">
        <h1>
            <%= title %>
        </h1>
        <%- text %>
    </div>
    <div>
        <a href="/">Home</a>
        <a href="/form">Form Page</a>
    </div>
</header>