@import "../../node_modules/sass-base-style/sass/main";

body {
    background-color: $gray-100;
}

header {
    background-color: $purple-800;
    color: #FFF;
}

header a{
    margin-right: 2rem;
}

header a:hover{
    color: $gray-400
}