.container {
    background-color: rgb(172, 172, 172);

    display: flex;                  /*  display in flex model   */
    flex-direction: row;            /*  colunn | colunn-reverse | row-reverse   */
    flex-wrap: wrap;                /*  wrap | wrap-reverse  */
    flex-flow: row wrap;            /*  flex-direction: + flex-wrap:    */
    justify-content: flex-start;    /*  flex-end | center | space-between | space-around    */
    align-items: flex-start;        /*  flex-end | center | baseline | stretch  */
    align-content: flex-start;      /*  flex-end | center | space-between | space-around | stretch*/
}

.container-item {
    box-sizing: border-box;
    background-color: #eee;
    margin: 10px;
    padding: 10px;
}

.article-05{
    order: 0;            /*  Order in container   */
    flex-grow: 1.5;        /*  faz o elemento crescer em relação aos elementos restantes    */
    flex-shrink: 0;      /*  faz o elemento encolher em relação aos elementos restantes    */
    flex-basis: 100px;   /*  determina o tamanho inicial do item     */
    flex: 1.5 0 100px;     /*  flex-grow: + flex-shrink: + flex-basis:      */
    align-self: center;  /*  override the default alinment set by the container     */
}