.card {
    margin: .5rem;
    width: 23rem;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: var(--shadow);
    font-family: monospace;
    background-color: var(--surface);
}

.card>.title {
    background-color: var(--secondary);
    padding: .4rem;
    color: var(--onSurface);
    text-align: center;
}

.card>.content {
    padding: .8rem;
    font-weight: bold;
}