@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeUp {
  from {
    transform: translateY(4rem);
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOutRight {
  to {
    transform: translateX(4rem);
    opacity: 0;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(8rem);
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
