* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: #ddd;
}

section {
    margin: 20px 0px;
}

button {
    border: 1px solid rgb(0, 0, 0, .1);
    margin: 10px;
    width: 70px;
    min-height: 35px;
    word-wrap: break-word;
    font-weight: 700;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 1px 1px 2px rgb(0, 0, 0, .2);
    color: rgb(0, 0, 0);
}

button:hover {
    border: 1px solid rgb(89, 0, 255);
}

.container {
    display: flex;
    flex-flow: row wrap;
}

/*****                 BODY                  ****/

.calc {
    margin: 0 auto;
    width: 380px;
    background-color: #999;
    border-radius: 6px;
}

/*****                 display                  ****/

.display {
    background-color: #444;
    min-width: 80%;
    height: 40px;
    font-weight: 700;
    font-size: 25pt;
    text-align: right;
    border-radius: 6px;
    margin-top: 8px;
    padding: 1px 4px;
}

.cls{
    width: 40px;
}

/*****                 numbers                  ****/

.numbers {
    width: 280px;
}

.btn-number {}

/*****                 operators                  ****/

.operators {
    display: flex;
    flex-direction: column;
}

/*****                 display                  ****/

/*****                 display                  ****/